<% layout("/layouts/boilerplate") %>
<br>

<div class="row">
    <div class="col-8 offset-2">
       <br/> 
    <H3>Edit your Listing</H3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <br>
        <div class="mb-3">
          <label form="title" class="form-label">Title</label>
          <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
          <div class="valid-feedback">Title looks good!</div>
        </div>

        <div class="mb-3">
          <label form="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required> <%= listing.description %> </textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          Original Listing Image <br/>
         <img src="<%= originalImageUrl %>" />
        </div>

        <div class="mb-3">
          <label form="image" class="form-label">Upload New Image</label>
          <input name="listing[image]" type="file" class="form-control">
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
          <label form="price" class="form-label">Price</label>
          <input name="listing[price]" value="<%= listing.price %>" class="form-control" type="number" required>
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-8">
            <label form="Country" class="form-label">Country</label>
            <input name="listing[country]" value="<%= listing.country %>"  type="text" class="form-control" required>
            <div class="invalid-feedback">Country name should be valid</div>
        </div>
        </div>

        <div class="mb-3">
            <label form="location" class="form-label">Location</label>
            <input name="listing[location]" value="<%= listing.location %>"  type="text"class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>

        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select class="form-select form-control" id="category" name="listing[category]">
            <option value="<%= listing.category %>" selected><%= listing.category %></option>
            <option value="Trending">Trending</option>
            <option value="Rooms">Rooms</option>
            <option value="Iconic Cities">Iconic Cities</option>
            <option value="Mountains">Mountains</option>
            <option value="Castles">Castles</option>
            <option value="Amazing Pools">Amazing Pools</option>
            <option value="Camping">Camping</option>
            <option value="Farms">Farms</option>
            <option value="Arctic">Arctic</option>
            <option value="Domes">Domes</option>
            <option value="Boats">Boats</option>
            <option value="Beach">Beach</option>
          </select>
        </div>

        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
    <br>
    <br>
    </div>
</div>
